:root {
  --dominante-n: #1f1f1f;
  --subordinado-b: #ffffff;
  --subordinado-g: #d8d8d8;
  --acento-az: #68bbe8;
  --acento-ro: #ee5d52;
  --acento-am: #eede52;
}

text {
  color: var(--dominante-n);
  line-height: normal;
}

@font-face {
  font-family: "Overpass Mono";
  src: url("../data/OverpassMono-VariableFont_wght.ttf") format("truetype"); /* Variable font */
}

@font-face {
  font-family: "Garamond SMB Italic";
  src: url("../data/GaramondPremrPro-SmbdIt.otf") format("opentype");
}

@font-face {
  font-family: "Garamond Italic";
  src: url("../data/GaramondPremrPro-It.ttf") format("opentype");
}

@font-face {
  font-family: "Gotham Book";
  src: url("../data/Gotham-Book.otf") format("opentype");
}

@font-face {
  font-family: "Gotham Light";
  src: url("../data/Gotham-Light.otf") format("opentype");
}

@font-face {
  font-family: "Gotham Medium";
  src: url("../data/Gotham-Medium.otf") format("opentype");
}

/* CSS general */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 8 columnas para desktop */
  gap: 20px;
  margin-left: 5rem;
  margin-right: 5rem;
}

.hero-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 8 columnas para desktop */
  gap: 1.25rem;
  margin-left: 5rem;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.intro-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 1 columnas para desktop */
  gap: 20px;
  margin-left: 5rem;
  margin-right: 5rem;
}

/* Media query para mobile */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr); /* 3 columnas para mobile */
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
  }

  .hero-container {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 20px;
    margin-right: 20px;
  }

  .intro-container {
    margin-left: 20px;
    margin-right: 20px;
  }

  .none-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .none-desktop {
    display: none !important;
  }
}

/* General Styles */
body {
  font-family: "Overpass Mono", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: var(--acento-az);
  text-decoration: none;
}

img {
  max-width: 100%;
  height: 100%;
}

.divisor {
  background-image: url(/images/divisor.png);
  -webkit-background-position: left bottom;
  background-position: left bottom;
  background-repeat: repeat-x;
  display: block;
  height: 12px;
  width: -webkit-fill-available;
  -webkit-background-size: 460px;
  background-size: 460px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--acento-ro);
  color: var(--subordinado-b);
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  border-width: 3px;
  border-style: solid;
  border-color: var(--acento-ro);
}

.btn:hover {
  border-image: linear-gradient(
      to top,
      var(--acento-ro),
      var(--acento-az),
      var(--acento-am)
    )
    15;
  border-width: 3px;
  border-style: solid;
  background: none;
  transition: background 0.3s ease;
}

/* Header Styles */
header {
  position: relative;
}

nav {
  display: flex;
  height: 3.625rem;
  padding: 0rem 2rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dominante-n);
}

#hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -999;
}

.hero {
  text-align: center;
  color: var(--subordinado-b);
}

.hero h1 {
  font-family: "Gotham Medium", sans-serif;
  font-size: 48px;
  margin-bottom: 20px;
}

.hero h2 {
  font-size: 24px;
  margin-bottom: 40px;
}

.primera {
  background-color: var(--subordinado-b);
}

/* Main Styles */
section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.text-container h2 {
  font-family: "Gotham", sans-serif;
  font-size: 32px;
}

.text-container p {
  font-size: 16px;
  line-height: 1.5;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.icons img {
  margin-right: 20px;
}

/* Footer Styles */
footer {
  background-color: #1f1f1f;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.logo-container {
  margin-bottom: 20px;
}

.logo-container img {
  width: 150px;
  height: auto;
}

.social-media-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.social-media-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social-media-container li {
  margin-right: 20px;
}

.social-media-container li a {
  display: block;
  width: 32px;
  height: 32px;
}

.social-media-container img {
  width: 32px;
  height: 32px;
}
