:root {
--dominante-n: #1F1F1F;
--subordinado-b: #FFFFFF;
--subordinado-g: #d8d8d8;	
--acento-az: #68bbe8;
--acento-ro: #ee5d52;
--acento-am: #eede52;	
}

/* General Styles */
body {
    font-family: 'Overpass Mono', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--subordinado-b);
  }
  
  a {
    color: #68bbe8;
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ee5d52;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    border: none;
    cursor: pointer;
  }
  
  /* Header Styles */
  header {
    background-color: #1F1F1F;
    padding: 20px 0;
  }

  nav {
    display: flex;

height: 3.625rem;
padding: 0rem 2rem;
justify-content: space-between;
align-items: center;
  }
  
  .hero {
    text-align: center;
    color: #fff;
  }
  
  .hero h1 {
    font-family: 'Gotham', sans-serif;
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .hero h2 {
    font-size: 24px;
    margin-bottom: 40px;
  }

  .hero img {
    width: 75%;
    height: 75%;
  }
  
  /* Main Styles */
  section {
    padding: 20px;
  }
  
  .text-container {
    margin-bottom: 20px;
  }
  
  .text-container h2 {
    font-family: 'Gotham', sans-serif;
    font-size: 32px;
    margin-bottom: 15px;
  }
  
  .text-container p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .icons img {
    margin-right: 20px;
  }
  
  /* Footer Styles */
  footer {
    background-color: #1F1F1F;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .logo-container {
    margin-bottom: 20px;
  }
  
  .logo-container img {
    width: 150px;
    height: auto;
  }
  
  .social-media-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  .social-media-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .social-media-container li {
    margin-right: 20px;
  }
  
  .social-media-container li a {
    display: block;
    width: 32px;
    height: 32px;
  }
  
  .social-media-container img {
    width: 32px;
    height: 32px;
  }.por-que-unirte {
}
